@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace views "org.everest.flex.ui.views.*";

global
{
    chrome-color: #EBF4FF;
    color: #444444;
    content-background-color: #FFFFFF;
    roll-over-color: #EBF4FF;
    selection-color: #DEEBFF;
    focus-color: #EEEEEE;
    accent-color: #C0E3FF;
    vertical-align: middle;
    text-align: left;
    borderColor: #999999;
}

s|Application
{
    background-color: #EBF4FF;
}

s|Form{
    backgroundColor: #FFFFFF;
}


s|FormItem s|Label#labelDisplay {
    textAlign: right;
}

s|FormItem s|Label#errorTextDisplay {
    textAlign: left;
}

s|DataGrid
{
    alternatingRowColors:#FFFFFF,#F9F9F9;
}

views|CollectionView s|FormLayout
{
    gap: -15;
}
